html, body { height:100%; }
body {
    font-family: 'Special Elite';
    margin: 0;
}
.container {
    width: 100%;
    height: 100%;
}
.container::after {
    content: '';
    clear: left;
}
.note-view textarea {

}
.notes-container {
    float: left;
    width: 300px;
    height: 100%;
    border: 1px solid black;
    overflow-y: scroll;
    background-color: #3F3526;
}
.notes-container .notes-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.notes-container .notes-list li {
    border: 1px solid #343330;
    position: relative;
    cursor: pointer;
    padding: 10px;
    background-color: #FFA737;
    transition: 0.3s;
}
.notes-container .notes-list li:hover {
    background-color: #ff9137;
}
.notes-container .notes-list li button, .add-btn {
    position: absolute;
    top: 14px;
    right: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #DC851F;
    color: #343330;
    border: 2px solid #7E5920;
    border-radius: 50%;
}
.note-view {
    float: left;
    height: 100%;
    width: calc(100% - 304px);
    border: 1px solid black;
    background-color: #7E5920;
}
.note-view input, .note-view textarea {
    border: none;
    padding: 5px;
}
.note-view input {
    width: calc(100% - 10px);
    background-color: #FFA737;
    font-size: x-large;

}
.note-view input:disabled, .note-view textarea:disabled {
    background-color: #694919;
    color: black;
}
.note-view textarea {
    width: calc(100% - 10px);
    height: calc(60%);
    resize: none;
    background-color: #FFA737;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.note-view button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #DC851F;
    color: #343330;
    border: 2px solid #3F3526;
    border-radius: 50%;
}
.add-block-container {
    position: relative;
    padding: 18px 10px;
    background-color: #7E5920;
    border: 1px solid #343330;
}
#note-title {
    width: 210px;
    background-color: #FFA737;
}
.add-btn {
    border-color: #3F3526;
    font-size: 20px;
}